<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.battery.ios16">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="android.theme.customization.battery_style"
        android:priority="1"
        android:isStatic="false" />

    <application
        android:label="iOS 16"
        android:hasCode="false" />
</manifest>
